.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  flex-direction: row;
}

.boardContainer {
  display: flex;
  align-items: center; /* 盤面とボタンを縦方向に中央揃え */
  flex-direction: column;
}

.board {
  width: 640px;
  height: 640px;
  background-color: darkgreen;
  display: flex;
  flex-flow: wrap;
}

.cell {
  width: 80px;
  height: 80px;
  border: 1px solid;
  border-color: black;
  white-space: nowrap;
}

.stone {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-color: white;
  margin: 7px;
}

.score {
  background-color: rgb(250 184 71);
  width: 640px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.resetbutton {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  margin-top: 10px;
}
